@import "../../app.scss";
.intro{
    height: 100%;
    background: linear-gradient(180deg, #0c0c1d, #141439d0);
    overflow: hidden;
    position: relative;

    .wrapper{
        max-width: 1200px;
        height: 100%;
        margin: auto;

        .textContainer{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            @include mobile{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }
        
            h2{
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }
            h1{
                font-size: 88px;
                @include mobile{
                    font-size: 36px;
                }
            }
            .buttons{
                button{
                    padding: 20px;
                    border: 1px solid white;
                    background-color: transparent;
                    border-radius: 10px;
                    color: whitesmoke;
                    cursor: pointer;
                    margin-right: 20px;
                    font-weight: 300    ;
                }
            }
            img{
                width: 50px;
            }
        }
    }

    .imageContainer{
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        @include mobile{
         height: 50%;
         width: 100%; 
         top: unset;
         bottom: 0;      
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -130px;
        white-space: nowrap;
        color: #ffffff09;
        font-weight: bold;
        width: 50%;
    }
}